@import "../core/var";

.pending {
  .pending-table {
    th {
      border: 0;
      padding-left: 5px;
      font-size: 11px;
    }
    tbody {
      background: $grayDark;
      td {
        color: $grayLight;
        vertical-align: inherit;
        padding: 5px;
        font-size: 15px;
        button {
          padding: 5px;
        }
      }
      tr {
        td:nth-child(1) {
          width: 15%;
        }
        td:nth-child(2) {
          width: 20%;
        }
        td:nth-child(3) {
          width: 20%;
        }
        td:nth-child(4) {
          width: 20%;
        }
        td:nth-child(5) {
          width: 15%;
        }
        td:nth-child(6) {
          width: 10%;
        }
      }
    }
    .btn-primary.disabled,
    .btn-primary:disabled {
        color: #fff;
        background-color: $gray2;
        border-color: $gray2;
    }
  }
}
